<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add
            id="MB_Catalog::product"
            title="Custom Catalog"
            module="MB_Catalog"
            sortOrder="30"
            parent="Magento_Catalog::inventory"
            action="mb_catalog/product/"
            resource="MB_Catalog::product"
        />
    </menu>
</config>
